@font-face {
    font-family: 'AvenirLT95Black';
    src: url('fonts/AvenirLT95Black.eot');
    src: url('fonts/AvenirLT95Black.eot') format('embedded-opentype'),
         url('fonts/AvenirLT95Black.woff2') format('woff2'),
         url('fonts/AvenirLT95Black.woff') format('woff'),
         url('fonts/AvenirLT95Black.ttf') format('truetype'),
         url('fonts/AvenirLT95Black.svg#AvenirLT95Black') format('svg');
}

@font-face {
    font-family: 'AvenirLTStdRoman';
    src: url('fonts/AvenirLTStdRoman.eot');
    src: url('fonts/AvenirLTStdRoman.eot') format('embedded-opentype'),
         url('fonts/AvenirLTStdRoman.woff2') format('woff2'),
         url('fonts/AvenirLTStdRoman.woff') format('woff'),
         url('fonts/AvenirLTStdRoman.ttf') format('truetype'),
         url('fonts/AvenirLTStdRoman.svg#AvenirLTStdRoman') format('svg');
}

@font-face {
    font-family: 'AvenirLTStdMedium';
    src: url('fonts/AvenirLTStdMedium.eot');
    src: url('fonts/AvenirLTStdMedium.eot') format('embedded-opentype'),
         url('fonts/AvenirLTStdMedium.woff2') format('woff2'),
         url('fonts/AvenirLTStdMedium.woff') format('woff'),
         url('fonts/AvenirLTStdMedium.ttf') format('truetype'),
         url('fonts/AvenirLTStdMedium.svg#AvenirLTStdMedium') format('svg');
}

@font-face {
    font-family: 'AvenirHeavy';
    src: url('fonts/AvenirHeavy.eot');
    src: url('fonts/AvenirHeavy.eot') format('embedded-opentype'),
         url('fonts/AvenirHeavy.woff2') format('woff2'),
         url('fonts/AvenirHeavy.woff') format('woff'),
         url('fonts/AvenirHeavy.ttf') format('truetype'),
         url('fonts/AvenirHeavy.svg#AvenirHeavy') format('svg');
}