$screen-portrait      :  768px;
$screen-landscape     :  992px;
$screen-desktop       :  1200px;

$brand-primary        : #09497a;
$brand-secondary      : #ffb71b;
$brand-tertiary       : #27a9e1;

$primary-font         : 'AvenirLTStdRoman', sans-serif;
$secondary-font       : 'Merriweather', serif;

$black                : 'AvenirLT95Black', sans-serif;
$medium               : 'AvenirLTStdMedium', sans-serif;
$heavy                : 'AvenirHeavy', sans-serif;


$gray-light           : #f6f4f3;
$gray                 : #5f5f5f;
$gray-dark            : #282828;

$font-color           : $gray;
